
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #373636;
}
.HomeSection h1{
    color: #dedce1;
    font-size: 50px;
    font-family: helvetica;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
    margin: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.about_container{
    width: 100%;
    padding: 50px 8%;
}
.imageSection{
    grid-area: imageSect;
}
.infoSection{
    grid-area: infoSect;
}
.skillSection{
    grid-area: skillSect;
}
.about_container .about_content{
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 70;
    grid-template-areas: 'imageSect infoSect'
                         'skillSect skillSect';
}
.about_content .imageSection{
    position: relative;
    min-width: 300px;
    height: 400px;
    margin: 50px;
}
.imageSection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about_content .imageSection::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    outline: 3px solid #787cb5;
    top: 15px;
    left: 15px;
    z-index:1;
}
.infoSection h1{
    color: #dedce1;
    font-size: 30px;
    font-family: helvetica;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
}
.infoSection h1::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 110%;
    left: 0;
    background-color: #aaabb0;
}
.infoSection h1::after{
    content: '';
    position: absolute;
    width: 40%;
    height: 3px;
    top: calc(110% - 1px);
    left: 0px;
    background-color: #787cb5;
}
.infoSection h2{
    font-family: helvetica;
    font-size: 20px;
    font-weight: 600;
    color: #787cb5;
    padding: 14px 0px 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.infoSection p{
    color: #aaabb0;
    font-size: 18px;
    line-height: 1.2;
    text-align: justify;
    padding-bottom: 8px;
}
.personalinfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
    margin-top: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #555;
}
.personalinfo div{ 
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.personalinfo div span{
    color: #aaabb0;
    letter-spacing: 1px;
}
.skillSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 80px;
}
.skillSection .subject{
    font-size: 17px;
    font-weight: thin;
    color: #aaabb0;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.progress_bar{
    width: 100%;
    height: 16px;
    background-color: #2b2a2f;
    padding: 4px 6px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #444;
    border-radius: 15px;
}
.progress_line{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #787cb5;
    box-shadow: -1px -1px 2px #222222,
                 1px  1px 2px #111111;
    border-radius: 15px;
}
.progress_line::after{
    position: absolute;
    content: attr(value);
    top: -35px;
    right: 0px;
    transform: translateX(-50%);
    color: #aaabb0;
    font-size: 17px;
}
.row .a{
    width: 300px;
    height: 300px;
    margin: 70px;;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 15px;
}
.a img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.hobbySection h1{
    color: #dedce1;
    font-size: 50px;
    font-family: helvetica;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
    margin: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.ProjectSection{
    color: #dedce1;
    font-size: 50px;
    font-family: helvetica;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
    margin: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}